<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon color="primary" src="./assets/system/icons/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="show_profile()">
        <ion-icon style="font-size: 2em;" color="primary" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">
      <img width="30em" src="./assets/icon/pscrs_logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">


  <ion-row>
    <ion-col size="12">
      <h3>About Us</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      VIsion
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Mission
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      President's Message
    </ion-col>
  </ion-row>


  <hr width="100%" style="border:black 1px solid;">

  <ion-row>
    <ion-col size="12">
      <h3>Frequently Asked Questions</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Question 1
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Question 2
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Question 3
    </ion-col>
  </ion-row>

  <hr width="100%" style="border:black 1px solid;">

  <ion-row>
    <ion-col size="12">
      <h3>Terms and Conditions</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan nisl in lacus finibus, ut maximus
      ante laoreet. Sed eu nisi id ligula dignissim bibendum eget at est. Ut et auctor tellus, ac suscipit tellus.
      Maecenas ultricies nulla orci, eu molestie nulla egestas in. Donec fringilla risus mauris, vitae ultricies
      augue molestie tempor. Pellentesque convallis, leo ac lobortis pretium, lacus massa tincidunt odio, non
      rutrum neque arcu vel orci. Morbi tempor ligula eget dictum scelerisque. Vivamus vitae erat vitae lectus
      varius ultricies. Ut ligula lorem, condimentum sed lacinia vel, semper in dui. Nam ornare in elit non
      cursus. Nullam luctus tortor placerat sem semper aliquam. Fusce nec euismod sapien. Sed egestas gravida
      risus, quis sodales nibh interdum vitae. Nam euismod libero posuere tellus semper, et suscipit tellus
      efficitur. Donec lacinia erat finibus elit iaculis facilisis. Class aptent taciti sociosqu ad litora
      torquent per conubia nostra, per inceptos himenaeos.
    </ion-col>
  </ion-row>

  <hr width="100%" style="border:black 1px solid;">

  <ion-row>
    <ion-col size="12">
      <h3>Privacy Policy</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-justify">

      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan nisl in lacus finibus, ut
        maximus
        ante laoreet. Sed eu nisi id ligula dignissim bibendum eget at est. Ut et auctor tellus, ac suscipit tellus.
        Maecenas ultricies nulla orci, eu molestie nulla egestas in. Donec fringilla risus mauris, vitae ultricies
        augue molestie tempor. Pellentesque convallis, leo ac lobortis pretium, lacus massa tincidunt odio, non
        rutrum neque arcu vel orci. Morbi tempor ligula eget dictum scelerisque. Vivamus vitae erat vitae lectus
        varius ultricies. Ut ligula lorem, condimentum sed lacinia vel, semper in dui. Nam ornare in elit non
        cursus. Nullam luctus tortor placerat sem semper aliquam. Fusce nec euismod sapien. Sed egestas gravida
        risus, quis sodales nibh interdum vitae. Nam euismod libero posuere tellus semper, et suscipit tellus
        efficitur. Donec lacinia erat finibus elit iaculis facilisis. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos.</p>

    </ion-col>
  </ion-row>


</ion-content>