<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon color="primary" src="./assets/system/icons/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="show_profile()">
        <ion-icon style="font-size: 2em;" color="primary" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">
      <img width="30em" src="./assets/icon/pscrs_logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Ask The Experts</ion-label>
    </ion-list-header>
    <ion-item button (click)="show_convo()" mode="ios">
      <ion-avatar slot="start">
        <ion-icon style="font-size: 2em;" color="primary" name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Expert 1</ion-label>
    </ion-item>

  </ion-list>

</ion-content>